<form (ngSubmit)="submit()" [formGroup]="bookForm" #formDir="ngForm">
    <div class="form-group">
        <label for="name">Título:</label>
        <input type="text" placeholder="Coloque um título." formControlName="name" [(ngModel)]="book.name" required>
    </div>
    <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input type="text" placeholder="Coloque o ISBN." formControlName="isbn" [(ngModel)]="book.isbn" required>
    </div>
    <div class="form-group">
        <label for="author">Autor:</label>
        <input type="text" placeholder="Coloque o autor." formControlName="author" [(ngModel)]="book.author" required>
    </div>
    <div class="form-group">
        <label for="year">Ano de lançamento:</label>
        <input type="number" placeholder="Coloque o ano de lançamento." formControlName="year" [(ngModel)]="book.year" required>
    </div>
    <div class="form-group">
        <label for="amount">Quantidade de livros:</label>
        <input type="number" placeholder="Coloque a quantidade de livros." formControlName="amount" [(ngModel)]="book.amount">
    </div>
    <div class="form-group">
        <label for="publisher">Editora:</label>
        <input type="text" placeholder="Coloque a editora." formControlName="publisher" [(ngModel)]="book.publisher" required>
    </div>
    <div class="form-group">
        <label for="category">Categoria:</label>
        <div class="check" *ngFor="let categoria of categoriasDisponiveis">
            <input type="checkbox" value={{categoria}} formControlName="category" (click)="selecionarCategoria($event)">
            <p>{{categoria}}</p>
        </div>
    </div>
    <input type="submit" value="{{ btnText }}">
</form>