<div class="loanForm">
    <div class="loans">
        <h2>Lista de Empréstimos</h2>
        <div *ngFor="let loan of loans; let i; index">
            <b class="loanListItem" (click)="selectLoan(loan)">• {{ loan.user }}</b>
        </div>
    </div>
    <div>
        <form [formGroup]="loanForm" #formDir="ngForm">
            <div class="actions">
                <button class="btn btn-primary" (click)="new()">Novo</button>
                <button class="btn btn-primary" (click)="delete()">Excluir</button>
            </div>
            <div class="form-group">
                <label for="user">Usuário:</label>
                <select name="user" formControlName="user" [(ngModel)]="displayedLoan.user">
                    <option value="user.name" *ngFor="let user of users; let i; index">{{ user.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="employee">Funcionário:</label>
                <select name="employee" formControlName="employee" [(ngModel)]="displayedLoan.employee">
                    <option value="employee.name" *ngFor="let employee of employee; let i; index">{{ employee.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="book">Livro:</label>
                <select name="book" formControlName="book" [(ngModel)]="displayedLoan.book">
                    <option value="book.name" *ngFor="let book of books; let i; index">{{ book.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="loanDate">Data Inicial:</label>
                <input type="text" placeholder="Data Inicial" readonly="true" formControlName="loanDate"
                    [(ngModel)]="displayedLoan.loanDate">
            </div>
            <div class="form-group">
                <label for="devolutionDate">Data Final:</label>
                <input type="text" placeholder="Data Inicial" readonly="true" formControlName="devolutionDate"
                    [(ngModel)]="displayedLoan.devolutionDate">
            </div>
            <div class="form-group">
                <label for="isOpen">Situação:</label>
                <input type="text" placeholder="Situação" formControlName="isOpen" [(ngModel)]="displayedLoan.isOpen">
            </div>
            <input type="submit" (click)="saveOrUpdate()" value="Salvar">
        </form>
    </div>
</div>